body {
    margin: 0;
}

h1 {
    padding: 0%;
    margin: 0%;
    font-size: 40px;
    font-family: 'Poppins', 'san-serif';
    font-weight: 700;
}

.mission-2022-header {
    font-family: 'Libre Baskerville';
    font-size: 60px;
}

.span-color {
    color: orangered;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600px;
}

.container {
    display: flex;
    margin-bottom: 100px;
}

.half-container {
    width: 50%;
    padding-left: 150px;
}

.mission-title {
    border-left: 5px solid orangered;
    height: 145px;
    border-radius: 0.7%;
    border-width: 5px;
    margin: 0;
    padding: 0;
}

.half-container-left {
    padding-top: 200px;
}

.half-container img {
    width: 60%;
}

.anchor-btn {
    background-color: orangered;
    padding: 15px 40px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.mission-part {
    width: 1128px;
    height: 494px;
}

.mission-heading {
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', 'san-serif';
    font-weight: 700;
}

.mission-2022 {
    padding: 100px;
}

.one-third-width {
    margin: 10px;
    width: 25%;
    padding: 20px;
    border-radius: 5%;
    margin: 0 auto;
}

.one-third-width img {
    width: 50%;
}

.one-third-width h1 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.mission-one {
    background-color: lightblue;
}

.mission-two {
    background-color: lightpink;
}

.mission-three {
    background-color: lightyellow;
}

.one-third-container {
    width: 40%;
    padding-left: 150px;
}

.one-third-container img {
    width: 90%;
}

.two-third-container {
    padding-top: 50px;
    padding-right: 150px;
    width: 60%;
}

.two-third-container h1 {
    font-size: 40px;
    font-family: 'Poppins', 'san-serif';
    font-weight: 700;
}

.community-left-container {
    width: 60%;
    padding-left: 150px;
    padding-right: 50px;
    padding-top: 80px;
}

.community-left-container h1 {
    font-size: 40px;
    font-family: 'Poppins', 'san-serif';
    font-weight: 700;
}

.community-right-container {
    width: 40%;
    padding-right: 80px;
}

.community-right-container img {
    width: 90%;
}

.goals-container {
    color: white;
    margin-left: 75px;
    width: 68%;
    font-family: "Poppins";
    padding: 20px;
    background-image: url(images/shape-8.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.goals-expect-container {
    background-image: url(images/shape-7.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: unset;
    height: 410px;
}

#footer-class {
    background-color: black;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

#footer-class h1 {
    font-family: 'Lobster', cursive;
    padding-top: 40px;
    color: white;
}

#footer-class p {
    color: white;
}